<footer>
    <div>
        <h4><a href="/wallets">Гаманці</a></h4>
        <ul>
            <li>Гаманець чоловічий без застібки</li>
            <li>Портноме чоловіче</li>
            <li>Гаманець чоловічий із застібкою</li>
            <li>Портноме жіноче</li>
        </ul>
    </div>
    <div>
        <h4><a href="/cups">Чашки</a></h4>
        <ul>
            <li>Чашка-хамелеон</li>
            <li>Чашка біла</li>
            <li>Чашка кольорова</li>
            <li>Парні чашки</li>
        </ul>
    </div>
    <div>
        <h4><a href="/t-shirts">Футболки</a></h4>
        <ul>
            <li>Футболки з принтами</li>
            <li>Футболки з вишивками</li>
        </ul>
    </div>
    <div>
        <h4><a href="/keychains">Брелоки</a></h4>
        <ul>
            <li>Брелоки з фото</li>
            <li>Брелок з автономером</li>

        </ul>
    </div>
    <div>
        <h4><a href="/magnets">Магніти</a></h4>
        <ul>
            <li>Магніти квадратні</li>
            <li>Магніти інші</li>
        </ul>
    </div>
    <div>
        <h4><a href="/about">Інформація</a></h4>
        <ul>
            <li><a href="/contacts">Контакти</a></li>
            <li>Доставка</li>
            <li>Оплата</li>
        </ul>
    </div>
    <div>
        <h4><a href="/social">Соціальні мережі</a></h4>
        <ul>
            <li><a href="https://www.instagram.com/poda.im/">Instagram</a></li>
            <li><a href="https://www.facebook.com/poda.im/">Facebook</a></li>
            <!-- <li>Twitter</li> -->
        </ul>
    </div>
</footer>
<div class="copywrite">
    <p>&#9400;2020 PODA</p>
    <p>by <a href="https://greecode.com">greecode</a></p>
</div>

<script src="/scripts/cart.js">
</script>

</body>

</html>