<%- include ("partials/header") %>

<h1 class="page-title">Кошик</h1>
<main class="cart_main">
</main>
<div id="check-out">
    <button><a href="/checkout">Оформити замовлення</a></button>
</div>

<%- include ("partials/footer") %>