<%- include ("partials/header") %>

<div class="show-product-page">

    <h2 id="product-name" class="show-product-page-h2">ОДЯГ</h2>
    <!-- <div class="pre-products clothes-tshirts">
        <a href="/t-shirts">
            <h2>ФУТБОЛКИ</h2>
        </a>
    </div>



    <div class="pre-products clothes-hoodies">
        <a href="/hoodies">
            <h2>ТОЛСТОВКИ</h2>
            <h4><%= currentUser %></h4>

        </a>
    </div> -->
    <div class="pre-products-clothes">
        <a href="/t-shirts">
            <div class="pre-tshirts-page">
                <h1>ФУТБОЛКИ</h1>
            </div>
        </a>
        <a href="/hoodies">
            <div class="pre-hoodie-page">
                <h1>ТОЛСТОВКИ</h1>
            </div>
        </a>
    </div>


</div>

<%- include ("partials/footer") %>