<%- include ("partials/header") %>

<div class="show-product-page">
    <h2 id="product-name" class="show-product-page-h2">ВИРОБИ ЗІ ШКІРИ</h2>

    <!-- <div class="pre-products leather-wallets">
        <a href="/wallets">
            <h2>ГАМАНЦІ</h2>
        </a>
    </div>


    <div class="pre-products leather-belts">
        <a href="/belts">
            <h2>РЕМЕНІ</h2>
        </a>
    </div>
    <div class="pre-products leather-covers">
        <a href="/covers">
            <h2>ОБКЛАДИНКИ</h2>
        </a>
    </div> -->
    <div class="pre-products-leather">
        <a href="/wallets">
            <div class="pre-wallets-page">
                <h1>ГАМАНЦІ</h1>
            </div>
        </a>
        <a href="/belts">
            <div class="pre-belts-page">
                <h1>РЕМЕНІ</h1>
            </div>
        </a>
        <a href="/covers">
            <div class="pre-covers-page">
                <h1>ОБКЛАДИНКИ</h1>
            </div>
        </a>
    </div>

</div>

<%- include ("partials/footer") %>