<%- include ("partials/header") %>

<h1>Доставка і оплата</h1>

<h4 class="shipping-method">Оберіть тип доставки</h4>
<div class="shipping">
    <div class="noshipping">Самовівіз</div>
    <div class="novaposhta-shipping">Нова пошта</div>
    <div class="ukrposhta-shipping">Укрпошта</div>
</div>

<div id="noship">
    <h4>Самовівіз із магазину за адресою...</h4>
</div>

<div class="paying">
    <div id="paying_method_1">Оплата на картку</div>
    <div id="paying_method_2">Оплата при отриманні</div>
</div>

<%- include ("partials/footer") %>