
.leather {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    margin-top: 20px;
}
.leather-products:hover .leather {
    display: inline;
    
}
.leather-products .leather li {


}
.leather-products .leather li a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}
